language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
 
dist: trusty

matrix:
  include:
    - php: 5.3
      dist: precise

sudo: false

services:
  - memcached

before_script:
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then echo "extension = memcache.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;'
  - (composer self-update; true)
  - if [[ "$TRAVIS_PHP_VERSION" = 7.0 ]]; then composer require php-coveralls/php-coveralls ^2.1; fi
  - composer require doctrine/cache ~1.2
  - composer install

script:
  - mkdir -p build/logs
  - ./vendor/phpunit/phpunit/phpunit --coverage-clover build/logs/clover.xml

after_success:
  - if [[ "$TRAVIS_PHP_VERSION" = 7.0 ]]; then travis_retry php vendor/bin/php-coveralls -v; fi
