parameters:
    level: max
    bootstrapFiles:
        - %rootDir%/../../autoload.php
    paths:
        - %rootDir%/../../../
    excludes_analyse:
        - %rootDir%/../../../vendor
        - %rootDir%/../../../misc
        - %rootDir%/../../../Tests
        - %rootDir%/../../../autoload.php
    ignoreErrors:
        - '#.+Doctrine\\Common\\Cache\\CacheProvider.+#'
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false