parameters:
    level: max
    bootstrapFiles:
        - %rootDir%/../../autoload.php
    paths:
        - %rootDir%/../../../
    excludePaths:
        - %rootDir%/../../../vendor
        - %rootDir%/../../../misc
        - %rootDir%/../../../Tests
        - %rootDir%/../../../autoload.php
    ignoreErrors:
        - '#.+Doctrine\\Common\\Cache\\CacheProvider.+#'
        - '#.+unknown class Illuminate\\Support\\Facades\\Cache.+#'
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false